@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}



.feed {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: 300px;
  text-decoration: none;
  color: black;
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.card h2 {
    font-size: 16px;
    font-weight: 600;
    margin: 5px 0;
    color: black;
}

.card h3 {
  font-size: 14px;
  font-weight: 400;
  color: rgb(96, 92, 92);
}

.card p {
  font-size: 14px;
  padding-top: 5px;
  color: #666;
}
.tick-mark{
  background-color: #666;
  color: aliceblue;
  border-radius: 100%;
  padding: 1px;
}
.align_card{
  display: flex;
  flex-direction: row;
  gap: 15px ;
}
.channel_logo{
  width: 50px;
  height: 50px;
  padding-top: 10px;
  padding-right: 1px;
  background-color: white;
  border-radius: 100%;
   border: 1px solid rgb(125, 123, 123); 
   /* box-shadow: 10px 8px 6px gray;  */
  margin-top: 8px;
}